@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 0;
}

main {
  padding: 0;
  margin: 0;
}

header .nav {
  justify-content: center;
  display: flex;
}

header a {
  text-decoration: none;
}

.nav-acessibilidade {
  border-radius: 12px;
  /*box-shadow: 1px 2px 8px 0 #e0e7f2;*/
  flex-grow: 0;
  height: 54px;
  padding: 8px;
}

.nav {
  width: 100%;
  gap: 2em;
}

ul {
  margin: 0;
  justify-content: left;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  margin: 0;
}

.nav-item {
  width: 200px;
  align-content: center;
  background-color: #f3efef;
  border-radius: 12px;
  border: solid 1px #eeeeee;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.nav-item-texto {
  color: #000000;
  flex-grow: 0;
  font-family: Inter;
  font-size: 10pt;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 15px;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.box-header .container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.box-btn-start{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.header-barra {
  margin-bottom: 0;
  border-bottom: 0;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
  border-radius: 5px;
  /*background-color: ;*/
}

.header-barra .container{
  padding: .5rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header-barra-itens {
  align-content: center;
  display: flex;
  color: #0277bd;
}

.header-barra-itens a {
  color: #0277bd;
}

.header-barra-itens:click {
  color: #01579b;
  background-color: white;
}

.header-barra-itens select {
  color: #01579b;
  font-size: 12pt;
  font-weight: 600;
  background-color: transparent;
  border: 0;
}

.header-barra-itens select:hover{
  color: #293942;
}

.header-barra-itens option {
  color: #01579b
}

.container-first-div-main{
  background-color: #0277bd;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.box-item{
  width: 230px;
  padding: 5px;
  background-color: #e0e7f2;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-color: #e0e7f2;
  border-radius: 5px;
}

.box-item div{
  display: flex;
  align-items: center;
}
 .box-item .box-icon1{
  background-color: #64db64;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}

.box-item:hover{
  background-color: transparent;
  color: #FFF;
}

.box-search{
  padding: 5px;
  border-radius: 5px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-search input{
  border: none;
}

.box-noticias{
  display: flex;
  justify-content: center;
  gap: 3em;
}

.box-noticias, .text-p1, .text-p2 {
  font-size: 10pt;
}

.text-p1{
  color: #64db64;
}

.card-box1{
  width: 550px;
}



.card-box2{
  width: 600px;
  justify-content: space-between;
}


.card-box2 .divb1 {
  border-radius: 5px;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
}

.card-box2 .divb2 {
  border-radius: 5px;
  background-color: #C4E7C7 ;
}

.card-box2 .divb3 {
  border-radius: 5px;
  background-color: #208928 ;
}

.box-info-sec{
  margin-left: 10px;

}

.card-box2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box-galeria-2{
  display: flex;
  justify-content: space-between;
}

.section-clientes-links{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.container-sub-footer1{
  display: flex;
  justify-content: center;
  gap: 3em;
  background-color: #01579b;
  color: #fafafa;
}

.container-sub-footer1 .ft-dv-1{
  width: 350px;
  justify-content:right;
  text-align: end;
}

.container-sub-footer1 .ft-dv-logo{
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
   background-color: #1f3c50; 
}

.container-footer-2{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: #fafafa;
}

.container-footer-2 div{
  width: 290px;
}

.container-footer-2 div ul{
  line-height: 30px;
  padding-left: 0;
}
.container-footer-2 div ul li{
  font-size: 10pt;
  list-style: none;
}

.container-footer-2 div ul li:hover{
  transform: scale(1.05); 
}

.container-footer-end{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.container-footer-end div{
  display: flex;
  align-items: center;
}

.box-cl-links{
  box-shadow: 1px 2px 8px 0 #e0e7f2;;
  display: flex;
  align-items: center;
}










.main-carousel {
  width: 100%;
  max-height: 400px;
}

.carousel-slide {
  outline: none;
  height: 400px;
  min-height: 400px;
}

/* Estilos para os dots (pontos de navegação) */
.slick-dots {
  bottom: 20px;
  position: absolute;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #FFF;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #FFF;
  opacity: 1;
}

/* Estilos para as setas */
.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: background 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
  background: rgba(255, 255, 255, 0.3);
}

.slick-prev:before, .slick-next:before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 20px;
  color: #FFF;
}

.slick-prev:before {
  content: '\f053'; /* ícone seta esquerda */
}

.slick-next:before {
  content: '\f054'; /* ícone seta direita */
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}