@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 0;
}

main {
  padding: 0;
  margin: 0;
}

header .nav {
  justify-content: center;
  display: flex;
}

header a {
  text-decoration: none;
}

.nav-acessibilidade {
  border-radius: 12px;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
  flex-grow: 0;
  height: 54px;
  padding: 8px;
}

.nav {
  width: 100%;
}

ul {
  margin: 0;
  justify-content: left;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  margin: 0;
}

.nav-item {
  align-content: center;
  background-color: #f3efef;
  border-radius: 12px;
  border: solid 1px #eeeeee;
  display: flex;
  flex-grow: 0;
  height: 38px;
  margin: 0 30px 0px 0;
  padding: 12px 39px 11px 36px;
}

.nav-item-texto {
  color: #000000;
  flex-grow: 0;
  font-family: Inter;
  font-size: 12pt;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 15px;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.box-header .container{
  /*background-color: #01579b;*/
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header-barra {
  margin-bottom: 0;
  border-bottom: 0;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
  border-radius: 5px;
  /*background-color: ;*/
}

.header-barra .container{
  padding: .5rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header-barra-itens {
  align-content: center;
  display: flex;
  color: #0277bd;
}

.header-barra-itens a {
  color: #0277bd;
}

.header-barra-itens:click {
  color: #01579b;
  background-color: white;
}

.header-barra-itens select {
  color: #0277bd;
  font-size: 12pt;
  font-weight: 500;
  background-color: transparent;
  border: 0;
}

.header-barra-itens option {
  color: #01579b
}

.container-first-div-main{
  background-color: #0277bd;
  margin: 0;
  padding: 0;
}

.box-item{
  width: 230px;
  padding: 5px;
  background-color: #e0e7f2;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}

.box-item div{
  display: flex;
  align-items: center;
}
 .box-item .box-icon1{
  background-color: #64db64;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}

.box-search{
  padding: 5px;
  border-radius: 5px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-search input{
  border: none;
}




.box-noticias{
  display: flex;
  justify-content: center;
  gap: 3em;
}

.box-noticias, .text-p1, .text-p2 {
  font-size: 10pt;
}

.text-p1{
  color: #64db64;
}

.card-box1{
  width: 550px;
}



.card-box2{
  width: 600px;
  justify-content: space-between;
}


.card-box2 .divb1 {
  border-radius: 5px;
  box-shadow: 1px 2px 8px 0 #e0e7f2;
}

.card-box2 .divb2 {
  border-radius: 5px;
  background-color: #C4E7C7 ;
}

.card-box2 .divb3 {
  border-radius: 5px;
  background-color: #208928 ;
}

.box-info-sec{
  margin-left: 10px;

}

.card-box2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box-galeria-2{
  display: flex;
  justify-content: space-between;
}

.section-clientes-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.container-sub-footer1{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #01579b;
  color: #fafafa;
}

.container-footer-2{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: #fafafa;
}

.container-footer-2 div{
  width: 290px;
}

.container-footer-2 div ul{
  line-height: 30px;
  padding-left: 0;
}
.container-footer-2 div ul li{
  font-size: 10pt;
  list-style: none;
}

.container-footer-end{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.container-footer-end div{
  display: flex;
  align-items: center;
}